@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root {
    --light-bg: #ffcf81;
    --dark-bg: #1b2a49;
    --light-text: #000000;
    --dark-text: #ffffff;
    --light-header: #ff9800;
    --dark-header: #0f2027;
    --accent: #77a6f7;
    --secondary: #a2d5f2;
    --tertiary: #f8f3d4;
    --quaternary: #ffcf81;
    --light-idea: #007bff;
    --dark-idea: #ffd700;
}

body {
    background: #ffffff;
    color: var(--light-text);
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background 0.4s ease, color 0.4s ease;
}



#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    background: var(--dark-text);
    animation: gradientAnimation 4s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    z-index: 1000;
}

.splash-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px 40px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transform: scale(0.9);
    opacity: 0;
    animation: fadeInText 1.5s ease-in-out forwards 0.5s;
}

#splash-screen.hidden {
    opacity: 0;
}

/* Reflejo del texto */
.splash-text::after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: rgba(76, 140, 167, 0.4);
    /* Dorado con transparencia */
    transform: scaleY(-1);
    filter: blur(3px);
    opacity: 0.5;
}

header {
    width: 100%;
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    position: fixed static;
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #1e3a8a, #204051, #99d6d0, #90c7f5);
    background-size: 300% 300%;
    animation: gradientAnimation 8s infinite ease-in-out;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}

.dark-theme .header {
    width: 100%;
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #ffe30c, #ddf08b, #fffd8a, #f8b400);
    background-size: 300% 300%;
    animation: gradientAnimation 8s infinite ease-in-out;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s;
    padding: 8px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: none;
}

section {
    margin-bottom: 50px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.description {
    font-size: 18px;
    line-height: 1.6;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 123, 255, 0.1);
    margin-top: 30px;
}

.video {
    text-align: center;
    margin-top: 20px;
}

.video iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.activities {
    padding: 20px;
    background-color: rgba(0, 123, 255, 0.05);
    border-radius: 10px;
}

#activity-list li {
    margin-bottom: 10px;
    transition: color 0.3s;
    cursor: pointer;
}

.photo-gallery h2,
.video h2,
.activities h2,
.map h2 {
    margin-bottom: 25px;
    color: var(--primary-color);
    text-align: center;
    position: relative;
}

.photo-gallery h2::after,
.video h2::after,
.activities h2::after,
.map h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 10px auto;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.gallery-item:hover .overlay {
    transform: translateY(0);
}

.map iframe {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.toggle-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 101;
}

.toggle-checkbox {
    display: none;
}


.dark-theme {
    background: var(--dark-bg);
    color: var(--dark-text);
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    background: var(--dark-text);
    animation: gradientAnimation 4s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    z-index: 1000;
}

.splash-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px 40px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transform: scale(0.9);
    opacity: 0;
    animation: fadeInText 1.5s ease-in-out forwards 0.5s;
}

#splash-screen.hidden {
    opacity: 0;
}

/* Reflejo del texto */
.splash-text::after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: rgba(76, 140, 167, 0.4);
    /* Dorado con transparencia */
    transform: scaleY(-1);
    filter: blur(3px);
    opacity: 0.5;
}



.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: none;
}

section {
    margin-bottom: 50px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.description {
    font-size: 18px;
    line-height: 1.6;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 123, 255, 0.1);
    margin-top: 30px;
}

.video {
    text-align: center;
}

.video iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.activities {
    padding: 20px;
    background-color: rgba(252, 218, 218, 0.116);
    border-radius: 10px;
}

#activity-list li {
    margin-bottom: 10px;
    transition: color 0.3s;
    cursor: pointer;
}

.photo-gallery h2,
.video h2,
.activities h2,
.map h2 {
    margin-bottom: 25px;
    color: var(--primary-color);
    text-align: center;
    position: relative;
}

.photo-gallery h2::after,
.video h2::after,
.activities h2::after,
.map h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 10px auto;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.gallery-item:hover .overlay {
    transform: translateY(0);
}

.map iframe {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    position: relative;
    bottom: 0;
    width: 100%;
}

.accordion-button:not(.collapsed) {
    background-color: var(--secondary);
    color: rgb(255, 0, 0);

}

.dark-theme .accordion-button {
    background-color: #1e3a8a;
    color: #f0f0f0;
}

.dark-theme .accordion-button:not(.collapsed) {
    background-color: var(--primary-color);
}

.dark-theme .accordion-body {
    background-color: #2d2d2d;
    color: #f0f0f0;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .video iframe {
        height: 300px;
    }
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    position: relative;
    bottom: 0;
    width: 100%;
}

.accordion-button:not(.collapsed) {
    background-color: #ccc;
    color: white;
}

.dark-theme .accordion-button {
    background-color: var(--dark-idea);
    color: #f0f0f0;
}

.dark-theme .accordion-button:not(.collapsed) {
    background-color: var(--primary-color);
}

.dark-theme .accordion-body {
    background-color: #204051;
    color: #f0f0f0;
}


.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    background: var(--dark-text);
    animation: gradientAnimation 4s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    z-index: 1000;
}

.splash-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px 40px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transform: scale(0.9);
    opacity: 0;
    animation: fadeInText 1.5s ease-in-out forwards 0.5s;
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}




/* Estilo del texto principal */
.splash-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;


}

/* Reflejo del texto */
.splash-text::after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: rgba(76, 140, 167, 0.4);
    /* Dorado con transparencia */
    transform: scaleY(-1);
    filter: blur(3px);
    opacity: 0.5;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.toggle-wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 101;
}

/* Ocultamos el checkbox */
.toggle-checkbox {
    display: none;
}

/* Estilos del interruptor */
.toggle-label {
    display: block;
    width: 50px;
    height: 25px;
    background-color: #1b2a49;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Círculo del interruptor */
.toggle-label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background-color: #77a6f7;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

/* Cambia el color de fondo cuando se activa */
.toggle-checkbox:checked + .toggle-label {
    background-color: #ffe30c;
}

/* Mueve el círculo cuando está activado */
.toggle-checkbox:checked + .toggle-label::after {
    transform: translateX(25px);
}

/* Hacemos el interruptor responsivo */
@media (max-width: 768px) {
    .toggle-wrapper {
        top: 5px;
        right: 5px;
    }

    .toggle-label {
        width: 40px;
        height: 20px;
    }

    .toggle-label::after {
        width: 16px;
        height: 16px;
        top: 2px;
        left: 2px;
    }

    .toggle-checkbox:checked + .toggle-label::after {
        transform: translateX(20px);
    }
}
